{% extends 'layout/base.html.twig' %}

{% block bodyClass %}news-index{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                <aside class="meta-side">
                    {% if static_block_manager.has('side_contact') %}
                        {{ static_block_manager.get('side_contact').content|raw }}
                    {% endif %}
                </aside>
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Nieuws</h1>
                {% if news %}
                    <ul class="article-list article-list-rwd">
                        {% for news_item in news %}
                            <li>
                                <article class="article">
                                    <div>
                                        {% if news_item.picture %}
                                        <a class="article-permalink"
                                           href="{{ path('news_view', {'id': news_item.id} ) }}">
                                            <img class="article-img" src="{{ news_item.picture }}"
                                                 alt="{{ news_item.metaTitle }}"/>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div>
                                        <div class="content">
                                            <h2>
                                                <a href="{{ path('news_view', {'id': news_item.id} ) }}">{{ news_item.title }}</a>
                                            </h2>
                                            <p>{{ news_item.shortDescription }}</p>
                                        </div>
                                        <a class="article-more" href="{{ path('news_view', {'id': news_item.id} ) }}">Lees
                                            meer</a>
                                    </div>
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
