{% extends 'layout/base.html.twig' %}

{% block bodyClass %}{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/page/sidebar.html.twig') }}
            </div>
            <div class="col-sm-9">
                {% if news %}
                    <h1 class="page-title">{{ news.title }}</h1>
                    <article class="article-single article-single-rwd">
                        <div>
                            <div class="content">
                                <p>{{ news.description }}</p>
                            </div>
                        </div>
                        <div>
                            {% if news.picture %}
                                <img class="article-img" src="{{ news.picture }}" alt="{{ news.metaTitle }}"/>
                            {% endif %}
                        </div>
                    </article>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
