<li>
    <div class="list-product-img">
        {% if product.mainPicture %}
            <a href="{{ path('product_view', { 'id': product.id }) }}"><img
                    src="{{ product.mainPicture.filename }}"
                    alt="{{ product.name }}"/></a>
        {% endif %}
    </div>
    <div>
        <h2 class="table-section-base-header"><a href="{{ path('product_view', { 'id': product.id }) }}">{{ product.name|upper }}</a></h2>
        <ul class="list-product-meta">
            <li>
                {% if product.manufacturer %}
                    {{ product.manufacturer.name }}
                {% endif %}
            </li>
            <li class="table-section-base-meta">{{ product.volume }}</li>
            <li class="table-section-base-price">{{ product.price|price }}</li>
        </ul>
        <div class="list-product-btn">
            <a href="{{ path('product_view', { 'id': product.id }) }}" class="btn btn-icon-label">
                <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                <span class="label">Bestellen</span>
            </a>
        </div>
    </div>
</li>
