<ul class="list-block list-block-rwd row">
    {% for category in categories %}
        <li class="col-sm-4">
            <div class="block-item">
                <a class="block-item-permalink" href="{{ path('category_view', {'id': category.id }) }}"><img
                            src="{{ category.picture }}"
                            alt="{{ category.name }}"/></a>
                <h3><a href="{{ path('category_view', {'id': category.id }) }}">{{ category.name }}
                        <span>({{ category.totalProductCount }})</span></a></h3>
            </div>
        </li>
    {% endfor %}
</ul>
