<ul class="item-block-list row">
    {% for category in categories %}
        <li class="col-sm-4">
            <div class="item-block">
                <a rel="perma" href="{{ path('category_view', {'id': category.id }) }}"><img
                            src="https://www.hgt-tilburg.nl/cache/images/userdata/category-images/198x165/0115084909-191-aardappelproducten.jpg"
                            alt="{{ category.name }}"/></a>
                <h3><a href="{{ path('category_view', {'id': category.id }) }}">{{ category.name }}
                        <span>({{ category.totalProductCount }})</span></a></h3>
            </div>
        </li>
    {% endfor %}
</ul>