{% extends 'layout/base.html.twig' %}

{% block body %}
    <h1>Ons assortiment</h1>
    <div class="container">
        <div class="row">
            {% if categories %}
                <div class="col-md-3">
                    <ul>
                        {% for category in categories %}
                            <li><a href="{{ category.id }}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {% for category in categories %}
                            <div class="col-md-4" style="border: 1px solid #DDD; text-align: center">
                                <a href="{{ path('category_view', {'id': category.id }) }}">
                                    <div>
                                        <img src="http://via.placeholder.com/250x250{# category.picture #}" alt="{{ category.name }}"/>
                                    </div>
                                    <div>
                                        {{ category.name }}
                                        <span class="amount">({{ category.totalProductCount }})</span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>Geen categorieën gevonden.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
