{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="feature-hero">
            <div>

                {% if homeSlides %}
                  <div class="hero js-hero">
                    {% for homeSlide in homeSlides %}
                        <div>
                            <a href="{{ homeSlide.url }}" title="{{ homeSlide.title }}">
                                <img src="https://i.imgur.com/BBYqcH3.jpg" alt="{{ homeSlide.title }}"/>
                            </a>
                        </div>
                    {% endfor %}
                  </div>
                {% endif %}
            </div>
            <div>
                <div>
                    <a href="#" title="Lees hier het laatste nieuws" class="banner">
                        <img src="http://via.placeholder.com/374x136" alt="Lees hier het laatste nieuws" title="Lees hier het laatste nieuws" />
                    </a>
                </div>
                {% if homeBanners %}
                    {% for homeBanner in homeBanners %}
                        <div>
                            <a href="{{ homeBanner.url }}" title="{{ homeBanner.title }}" class="banner">
                                <img src="http://via.placeholder.com/374x136{# homeBanner.bannerImage #}" alt="{{ homeBanner.title }}" />
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="feature-buttons">
            <div>
                <a href="#" class="btn btn-icon-label btn-icon-label-lg">
                    <span class="icon"><i class="fas fa-tag"></i></span>
                    <span class="label">
                        <span>Bekijk alle acties</span>
                    </span>
                </a>
            </div>
            <div>
                <a href="#" class="btn btn-icon-label btn-icon-label-lg">
                    <span class="icon"><i class="fas fa-bookmark"></i></span>
                    <span class="label">
                        <span>Bekijk onze folder</span>
                    </span>
                </a>
            </div>
            <div>
                <a href="#" class="btn btn-icon-label btn-icon-label-lg">
                    <span class="icon"><i class="fas fa-cart-arrow-down"></i></span>
                    <span class="label">
                        <span>Direct bestellen?</span>
                        <em>Klik hier om te registreren</em>
                    </span>
                </a>
            </div>
        </div>
        {% if homeCategories %}
            <div class="feature-cat">
                <h2>Populaire categorieën</h2>
                <div class="main">
                    {% for homeCategory in homeCategories %}
                        <div>
                            <a class="listing" href="category/view/{{ homeCategory.id }}" title="{{ homeCategory.name }}">
                                {{ homeCategory.name }}
                                <span class="icon"><i class="fa fa-chevron-right"></i></span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="feature-sub">
            <a class="btn-border" href="{{ path('category_index') }}">
                <i class="fa fa-align-justify"></i>
                <span>Ons assortiment</span>
            </a>
            <a class="btn-border" href="#">
                <i class="fa fa-align-justify"></i>
                <span>Alle merken</span>
            </a>
        </div>
    </div>
{% endblock %}
