{% extends 'layout/base.html.twig' %}

{% block bodyClass %}{% endblock %}

{% block body %}



    <div class="container">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <h1 class="page-title page-title-border">Acties</h1>
        {% if actionProducts is not empty %}
            <ul class="list-action list-action-rwd">
                {% for actionProduct in actionProducts %}
                    <li>
                        <div class="list-action-table">
                            <div>
                                <h2 class="table-section-base-header"><a
                                            href="{{ path('product_view', { 'id': actionProduct.id }) }}">{{ actionProduct.name }}</a>
                                </h2>
                            </div>
                            <div>
                                <div>{{ actionProduct.manufacturer.name }}</div>
                            </div>
                            <div>
                                <div class="table-section-base-meta">{{ actionProduct.volume }}</div>
                            </div>
                            <div>
                                <div class="table-section-base-price">
                                    &euro; {{ actionProduct.lowestProductPrice.unitPrice }}
                                    {#{% for productUnitOfMeasure in actionProduct.productUnitOfMeasures %}#}
                                        {#{% if productUnitOfMeasure.selected %}#}
                                            {#{{ dump(productUnitOfMeasure.product.productPrices) }}#}
                                        {#{% endif %}#}
                                        {#{% for actionProductPrice in productUnitOfMeasure.product.productPrices %}#}
                                            {#{% if productUnitOfMeasure.selected %}#}
                                                {#&euro; {{ actionProductPrice.unitPrice }}#}
                                            {#{% endif %}#}
                                        {#{% endfor %}#}
                                    {#{% endfor %}#}
                                </div>
                            </div>
                            <div>
                                <div class="list-action-button">
                                    <a href="{{ path('product_view', { 'id': actionProduct.id }) }}"
                                       class="btn btn-icon-label">
                                        <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                                        <span class="label">Bestel</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="list-action-sub">
                            <div class="list-action-label">Actie</div>
                            <div class="list-action-expire">
                                Actie geldig van
                                {{ actionProduct.productPrices|first.startDate|date('d F') }}
                                t/m
                                {{ actionProduct.productPrices|first.endDate|date('d F Y') }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="content">
                <p>Geen acties beschikbaar.</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
