{% set currentPath = app.request.pathinfo %}

<ul class="list-item list-item-alt">
    <li>
        <a href="{{ path('account_order_list') }}"
           class="btn-list  {% if currentPath == '/mijn-account/bestellijst' %}is-active{% endif %}">Bestellijst
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="{{ path('account_order_history') }}"
           class="btn-list {% if currentPath == '/mijn-account/bestelhistorie' or 'bestelhistorie/view' in currentPath %}is-active{% endif %} ">Bestelhistorie
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="{{ path('account_order_list_edit') }}"
           class="btn-list {% if currentPath == '/mijn-account/bestellijst-aanpassen' %}is-active{% endif %}">Bestellijst
            aanpassen
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="{{ path('account_password') }}" class="btn-list">Wachtwoord wijzigen
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="{{ path('logout') }}" class="btn-list">Uitloggen
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
</ul>
