{% if paginateData is defined and paginateData.pages > 1 %}
    <ul class="paging-number">
        {% if paginateData.current > 1 %}
            <li><a href="{{ path(routeName, {p: paginateData.current - 1, id: manufacturerId, limit: perPage}) }}"><i class="fas fa-arrow-left"></i></a></li>
        {% endif %}
        {% for i in 1..paginateData.pages %}
            {% if paginateData.current == i %}
                <li class="active">{{ i }}</li>
            {% else %}
                {% if paginateData.pages > 5 %}
                    {% if i > paginateData.current - 3 and i < paginateData.current + 3 %}
                        <li>
                            <a href="{{ path(routeName, {p: i, id: manufacturerId, limit: perPage}) }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% else %}
                    <li>
                        <a href="{{ path(routeName, {p: i, q: query}) }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if paginateData.current < paginateData.pages %}
            <li><a href="{{ path(routeName, {p: paginateData.current + 1, id: manufacturerId, limit: perPage}) }}"><i class="fas fa-arrow-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}
