{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index account-index-order-overview{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Bestellijst aanpassen</h1>
                <div class="content is-section">
                    {% if form is defined and form.products is not empty %}
                        <p>Pas hier uw bestellijst aan.</p>
                    {% else %}
                        <p>Geen producten.</p>
                    {% endif %}
                </div>
                {% if form is defined and form.products is not empty %}
                    {{ form_start(form, {'attr': {'id': form.vars.id} }) }}
                    <ul id="sortable" class="list-edit list-edit-rwd is-section">
                        {% for customerProductForm in form.products %}
                            {% set customerProduct = customerProductForm.vars.data.product %}
                            <li data-customer-product-id="{{ customerProduct.id }}">
                                <div class="table-edit">
                                    <div>
                                        <div class="table-edit-head">
                                            {{ form_widget(customerProductForm.remove) }}
                                            <h2 class="table-section-base-header">{{ customerProduct.product.name }}</h2>
                                        </div>
                                    </div>
                                    <div>
                                        {% if customerProduct.product.manufacturer %}
                                            {{ customerProduct.product.manufacturer.name }}
                                        {% endif %}
                                    </div>
                                    <div>
                                        <div class="table-section-base-meta">{{ customerProduct.product.volume }}</div>
                                    </div>
                                    <div>
                                        <div class="table-edit-icon"><i class="fas fa-bars"></i></div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tar">
                        <button type="submit" class="js-order-delete-confirm btn btn-special">Verwijderen</button>
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% if form is defined %}
    <script>
        $(document).ready(function () {
            $('#sortable').sortable({
                revert: true
            });

            $('.js-order-delete-confirm').click(function () {
                if (confirm('Weet u zeker dat u de geselecteerde producten uit uw bestellijst wilt verwijderen?')) {
                    $('#{{ form.vars.id }}').submit();
                }
                return false;
            });
        });
    </script>
{% endif %}
{% endblock %}
