{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index account-index-order{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Bestelling: {{ customerOrder.orderNumber }}</h1>
                <a href="{{ path('account_order_history') }}" class="btn-border is-section">
                    <i class="fas fa-arrow-left"></i>
                    <span>Naar bestelhistorie</span>
                </a>
                <ul class="table-basic is-section">
                    <li>
                        <div>Besteldatum:</div>
                        <div class="table-order-basic-entry">{{ customerOrder.orderDate|date('d-m-Y') }}</div>
                    </li>
                    <li>
                        <div>Leverdatum:</div>
                        <div class="table-order-basic-entry">{{ customerOrder.deliveryDate|date('d-m-Y') }}</div>
                    </li>
                    <li>
                        <div>Totaalbedrag:</div>
                        <div class="table-order-basic-entry">
                            &euro; {{ customerOrder.totalPrice }}
                            ({{ customerOrder.totalProductCount }} producten)
                        </div>
                    </li>
                    <li>
                        <div>Ordernummer:</div>
                        <div class="table-order-basic-entry">{{ customerOrder.orderNumber }}</div>
                    </li>
                    <li>
                        <div>Klantnummer:</div>
                        <div class="table-order-basic-entry">{{ customer.navisionPricingDiscountId }}</div>
                    </li>
                </ul>
                {% if customerOrderLines is not empty %}
                    <div class="content"><h2>Artikelen</h2></div>
                    <ul class="table-order table-order-rwd is-section-md">
                        {% for customerOrderLine in customerOrderLines %}
                            <li>
                                <div>
                                    <div class="table-order-header">{{ customerOrderLine.product.name }}</div>
                                </div>
                                <div>{{ customerOrderLine.product.manufacturer.name }}</div>
                                <div>{{ customerOrderLine.product.volume }}</div>
                                <div>Aantal: {{ customerOrderLine.qty }}
                                    | {{ customerOrderLine.unitOfMeasure.name }}</div>
                                <div>
                                    <div class="table-order-price">
                                        {% if customerOrderLine.product.lowestProductPrice %}
                                            &euro; {{ customerOrderLine.product.lowestProductPrice.unitPrice }}
                                        {% else %}
                                            &euro; {{ customerOrderLine.product.price }}
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6">
                            <div class="highlight-label-rec">
                                <div>Totaalbedrag (excl. BTW)</div>
                                <div class="highlight-label-rec-price">&euro; {{ customerOrder.totalPrice }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
