{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index account-index-order-overview{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Bestelhistorie</h1>
                <div class="content is-section">
                    <p>Als u net een bestelling geplaatst heeft, is deze tijdens kantooruren na 30 minuten zichtbaar in
                        het onderstaande overzicht.</p>
                    <p><em>Bij de "Nog te leveren" orders communiceren wij een verwachte leverdatum, deze datum is niet
                            defintief. Mocht u hierover vragen hebben neem dan contact op via het chatvenster
                            rechtsonder of telefonisch 013-5711790.</em></p>
                </div>
                <div class="tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Nog te leveren</a>
                        </li>
                        <li role="presentation">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Afgeleverd</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            {% if customerOrders is not empty %}
                                <div class="table-w-head table-history table-history-rwd">
                                    <div class="table-w-head-header">
                                        <div>Besteldatum</div>
                                        <div>Ordernummer</div>
                                        <div>Totaalbedrag</div>
                                    </div>
                                    <ul class="table-3-col">
                                        {% for customerOrder in customerOrders %}
                                            <li>
                                                <a href="{{ path('account_order_history_view', {'id': customerOrder.id } ) }}"></a>
                                                <div>
                                                    <div class="table-w-head-meta">
                                                        <div>Besteldatum:</div>
                                                        <div>{{ customerOrder.orderDate|date('d-m-Y') }}</div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="table-w-head-meta">
                                                        <div>Ordernummer:</div>
                                                        <div>{{ customerOrder.orderNumber }}</div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="table-w-head-meta">
                                                        <div>Totaalbedrag:</div>
                                                        <div>&euro; {{ customerOrder.totalPrice }}
                                                            ({{ customerOrder.totalProductCount }} producten)
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="content"><p>Er zijn geen orders gevonden.</p></div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            {% if deliveredCustomerOrders is not empty %}
                                <div class="table-w-head table-history table-history-rwd">
                                    <div class="table-w-head-header">
                                        <div>Besteldatum</div>
                                        <div>Ordernummer</div>
                                        <div>Totaalbedrag</div>
                                    </div>
                                    <ul class="table-3-col">
                                        {% for deliveredCustomerOrder in deliveredCustomerOrders %}
                                            <li>
                                                <a href="{{ path('account_order_history_view', {'id': deliveredCustomerOrder.id } ) }}"></a>
                                                <div>
                                                    <div class="table-w-head-meta">
                                                        <div>Besteldatum:</div>
                                                        <div>{{ deliveredCustomerOrder.orderDate|date('d-m-Y') }}</div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="table-w-head-meta">
                                                        <div>Ordernummer:</div>
                                                        <div>{{ deliveredCustomerOrder.orderNumber }}</div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div class="table-w-head-meta">
                                                        <div>Totaalbedrag:</div>
                                                        <div>&euro; {{ deliveredCustomerOrder.totalPrice }}
                                                            ({{ deliveredCustomerOrder.totalProductCount }} producten)
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="content"><p>Er zijn geen orders gevonden.</p></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
