{% extends 'layout/base.html.twig' %}

{% block bodyClass %}{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Mijn bestellijst</h1>
                <div class="content is-section">
                    <p>Persoonlijke bestellijst van <strong>{{ app.user.name }}</strong>. Wilt u de volgorde of
                        producten wijzigen op
                        uw bestellijst klik dan <a href="{{ path('account_order_list_edit') }}">hier</a>.</p>
                </div>
                {% if form is defined and form.products is not empty %}
                    {{ form_start(form) }}
                    <ul class="list-unit list-unit-rwd is-section">
                        {% for subForm in form.products %}
                            {% set customerProduct = subForm.vars.data.product %}
                            <li>
                                <div class="table-number">
                                    <div>
                                        {{ form_widget(subForm.increase) }}
                                    </div>
                                    <div><h2 class="table-section-base-header">{{ customerProduct.product.name }}</h2>
                                    </div>
                                    <div>
                                        <div>
                                            {% if customerProduct.product.manufacturer %}
                                                {{ customerProduct.product.manufacturer.name }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-section-base-meta">
                                            <div>{{ customerProduct.product.volume }}</div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-section-base-price">
                                            {% if customerProduct.product.lowestProductPrice %}
                                                &euro; {{ customerProduct.product.lowestProductPrice.unitPrice }}
                                            {% else %}
                                                &euro; {{ customerProduct.product.price }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% if customerProduct.product.lowestProductPrice or customerProduct.product.isOrderProduct %}
                                    <div class="list-unit-meta">
                                        <div>
                                            {% if customerProduct.product.lowestProductPrice %}
                                                <div class="highlight-label">
                                                    <div class="highlight-label-head">Actie</div>
                                                    <div class="highlight-label-sub">Actie geldig
                                                        van {{ customerProduct.product.getDates.startDate|date('d F') }}
                                                        t/m
                                                        {{ customerProduct.product.getDates.startDate|date('d F Y') }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div>
                                            {% if customerProduct.product.isOrderProduct %}
                                                <div class="order-timer">
                                                    <div class="order-timer-icon"><i class="far fa-clock"></i></div>
                                                    <div class="order-timer-meta">Dit product wordt nabesteld</div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tar">
                        <button type="submit" class="btn btn-icon-label">
                            <span class="icon"><i class="fas fa-cart-arrow-down"></i></span>
                            <span class="label">Toevoegen in winkelwagen</span>
                        </button>
                    </div>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
