{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Wachtwoord wijzigen</h1>
                <div class="content">
                    <p>Geef een nieuw wachtwoord op. We raden u ten zeerste aan een uniek wachtwoord te maken dat u niet
                        gebruikt voor andere websites. <strong>Opmerking</strong>: u kunt uw oude wachtwoord niet opnieuw gebruiken nadat u dit heeft gewijzigd.</p>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_start(form, {'attr': {'class': 'form-base','novalidate': 'novalidate'}}) }}
                        {{ form_row(form.oldPassword) }}
                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        <div class="form-btn-group">
                            <button type="submit" class="btn btn-highlight">Wijzig wachtwoord</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
