{% extends 'layout/login.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                {% if static_block_manager.has('login') %}
                    <div class="column">
                        <strong class="heading">{{ static_block_manager.get('login').title }}</strong>
                        {{ static_block_manager.get('login').content|raw }}
                    </div>
                {% endif %}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                <button type="submit" class="btn btn-success">Login<span class="fa fa-lock"></span></button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}