<nav class="primary-menu">
    <ul>
        <li><a href="{{ path('homepage') }}" title="Home">Home</a></li>
        <li class="has-sub">
            <a href="{{ path('category_index') }}" title="Assortiment">Assortiment</a>
            <div>
                {% for menu in menu_manager.getCategoriesForMenu() %}
                    <ul class="sub">
                        {% for subMenu in menu %}
                            <li><a href="{{ path('category_view', {'id': subMenu.id}) }}" title="{{ subMenu.name }}">{{ subMenu.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </li>
        <li><a href="{{ path('action_index') }}" title="Acties">Acties</a></li>
        <li><a href="{{ path('folder_index') }}" title="Folder">Folder</a></li>
        <li><a href="#" title="Kerstpakketten">Kerstpakketten</a></li>
        <li><a href="{{ path('news_index') }}" title="Nieuws">Nieuws</a></li>
        <li><a href="#" title="Over ons">Over ons</a></li>
        <li><a href="{{ path('contact_index') }}" title="Contact">Contact</a></li>
    </ul>
</nav>
