{% extends 'layout/base.html.twig' %}

{% block metaTitle %}{{ page.metaTitle }}{% endblock %}
{% block metaKeywords %}{{ page.metaKeywords }}{% endblock %}
{% block metaDescription %}{{ page.metaDescription }}{% endblock %}

{% block bodyClass %}cms-page{% endblock %}

{% block body %}

    {% if page.parent == null %}
        {% set pageMenu = page %}
    {% else %}
        {% set pageMenu = page.parent %}
    {% endif %}

    <div class="container layout-flip-sidebar-md">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="main-row row">
            <div class="col-md-3">
                <aside class="meta-side">
                    <ul>
                        <li>
                            {% if static_block_manager.has('side_contact') %}
                                {{ static_block_manager.get('side_contact').content|raw }}
                            {% endif %}
                        </li>
                        <li>
                            {% if page.pageStaticBlocks|length > 0 or pageMenu.subPages|length > 0 %}
                                {#{{ path('page', {'id': pageMenu.id }) }}#}
                                <h3>{{ pageMenu.shortTitle }}</h3>
                                <ul class="meta-side-sub">
                                    {% for subPage in pageMenu.subPages %}
                                        <li{% if app.request.get('id') == subPage.id %} class="active"{% endif %}>
                                            <a href="{{ path('page', {'id': subPage.id}) }}">{{ subPage.shortTitle }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                {% for pageStaticBlock in page.pageStaticBlocks %}
                                    {% if static_block_manager.has(pageStaticBlock.staticBlock.identifier) %}
                                        {% if(static_block_manager.get(pageStaticBlock.staticBlock.identifier).title) %}
                                            <h2>{{ static_block_manager.get(pageStaticBlock.staticBlock.identifier).title }}</h2>
                                        {% endif %}
                                        {% if(static_block_manager.get(pageStaticBlock.staticBlock.identifier).content) %}
                                            {{ static_block_manager.get(pageStaticBlock.staticBlock.identifier).content|raw }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9">
                <h1 class="page-title">{{ page.title }}</h1>
                <div class="content is-section">
                    <p>{{ page.content|raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
