<!DOCTYPE html>
<html lang="nl">
<head>
    <title>{{ title|default('Horeca Groothandel Tilburg') }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0" />
    <link href="http://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/main.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="rwd"></div>
    <header class="page-header">
        <div class="header-main">
            <div class="wrapper">
                <div class="header-container header-corporate">
                    <div>
                    {% if app.user %}
                        Welkom <a href="#" title="">{{ app.user.name }}
                        {% if app.user.company %}
                            ({{ app.user.company }})
                        {% endif %}</a> | <a href="{{ path('logout') }}" title="Uitloggen">Uitloggen</a>
                    {% else %}
                        Meer dan 30 jaar ervaring in <strong>food</strong>
                        en <strong>non food</strong> producten in Noord-Brabant
                    {% endif %}
                    </div>
                    <div>
                        Hulp nodig bij je bestelling?
                        <a href="tel:{{ company_phonenumber|replace({' ':''}) }}">{{ company_phonenumber }}</a>
                    </div>
                </div>
                <div class="header-branding">
                    <div>
                        <a class="logo" href="{{ path('homepage') }}" title="{{ company_name }}">
                            <img src="{{ asset('assets/images/logo.svg') }}" alt="{{ company_name }}" />
                        </a>
                    </div>
                    <div>
                        <div class="overlay"></div>
                        {{ include('_partials/page/menu.html.twig') }}
                        <a class="primary-menu-trigger" onclick="return false;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-sub">
            <div class="wrapper">
                <div></div>
                <div>
                    <form class="search form-sticky">
                        <div class="form-group">
                            <input type="search" class="form-control" placeholder="Ik ben op zoek naar">
                        </div>
                        <div>
                            <button class="btn btn-icon"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                    {% if app.user %}
                        <a href="#" class="btn btn-icon-label">
                            <span class="icon"><i class="fa fa-user"></i></span>
                            <span class="label">Mijn account</span>
                        </a>
                        <a href="#" class="btn btn-icon-label">
                            <span class="icon"><i class="fa fa-list-ul"></i></span>
                            <span class="label">Mijn bestellijst</span>
                        </a>
                        <a href="#" class="btn btn-icon-label shopping-cart js-shopping-cart">
                            <span class="icon"><i class="fas fa-shopping-cart"></i><span>1337</span></span>
                            <span class="label">Winkelwagen</span>
                        </a>
                    {% else %}
                        <a href="#" class="btn btn-icon-label">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span class="label">Klant worden</span>
                        </a>
                        <a href="{{ path('account_login') }}" class="btn btn-icon-label">
                            <span class="icon"><i class="fas fa-lock"></i></span>
                            <span class="label">Inloggen</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>
    <main class="page-main">
        {% block body %}{% endblock %}
    </main>
    <footer class="page-footer">
        <div class="footer-highlight">
            <div class="wrapper">
                <div>
                    <h2>
                        <strong>Mis onze topaanbiedingen niet:</strong>
                        ontvang onze <span>nieuwsbrief</span>!
                    </h2>
                </div>
                <div>
                    <form class="newsletter form-sticky">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Uw e-mailadres">
                        </div>
                        <div>
                            <button class="btn">Aanmelden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="footer-main">
            <div class="main">
                <div class="wrapper">
                    <div>
                        <h4>Informatie</h4>
                        <ul class="footer-list">
                            <li><a href="#">Over ons</a></li>
                            <li><a href="#">Klant worden</a></li>
                            <li><a href="#">Veelgestelde vragen</a></li>
                            <li><a href="#">Over ons</a></li>
                            <li><a href="#">Leverings- en betalingsvoorwaarden</a></li>
                        </ul>
                    </div>
                    <div>
                        <h4>Social media</h4>
                        <ul class="footer-social">
                            <li>
                                <a href="https://www.facebook.com/horecagroothandeltilburg/" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Contact</h4>
                        <ul class="footer-meta">
                            <li><strong>{{ company_name }}</strong>
                                {{ company_street }}, {{ company_zipcode }} {{ company_city }}
                            </li>
                            <li>
                                <a href="tel:{{ company_phonenumber|replace({' ':''}) }}">{{ company_phonenumber }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="sub">&copy; {{ "now" | date("Y") }} - {{ company_name }}</div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{ asset('assets/js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
