{% extends 'layout/base.html.twig' %}

{% block bodyClass %}{% endblock %}

{% block body %}
    <div class="container {% if categories %}layout-sidebar-hide-content-md{% else %}layout-flip-sidebar-md{% endif %}">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="page-title-container">
            <div class="row">
                <div class="col-md-3">
                    {% if category.parent %}
                        <a href="{{ path('category_view', {'id': category.parent.id }) }}" class="btn-border">
                            <i class="fas fa-arrow-left"></i>
                            <span>Terug</span>
                        </a>
                    {% else %}
                        <a href="{{ path('category_index') }}" class="btn-border">
                            <i class="fas fa-arrow-left"></i>
                            <span>Terug</span>
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h1 class="page-title">{{ category.name }}</h1>
                </div>
            </div>
        </div>
        <div class="row main-row">
            <div class="col-md-3">
                {% if parentCategories %}
                    {% include '_partials/catalog/category/list.html.twig' with {'categories' : parentCategories } %}
                {% endif %}
            </div>
            <div class="col-md-9">
                {% if categories %}
                    <div class="item-block-list-rwd">
                        {% include '_partials/catalog/product/list.html.twig' with {'categories' : categories } %}
                    </div>
                {% else %}
                    {% if products %}
                        <div class="paging paging-top paging-rwd">
                            <div>
                                {% include '_partials/catalog/category/pagination.html.twig' with {
                                    paginateData: pagination,
                                    routeName: 'category_view',
                                    categoryId: category.id,
                                    perPage: perPage
                                } %}
                            </div>
                            <div>
                                {% include '_partials/catalog/category/pageLengthSelector.html.twig' with {
                                    currentPage: pagination.current,
                                    routeName: 'category_view',
                                    categoryId: category.id,
                                    perPage: perPage
                                } %}
                            </div>
                        </div>
                        <ul class="list-product list-product-rwd">
                            {% for product in products %}
                                {{ include('_partials/catalog/product/item.html.twig', {'product' : product }) }}
                            {% endfor %}
                        </ul>
                        <div class="paging paging-bottom paging-rwd">
                            <div>
                                {% include '_partials/catalog/category/pagination.html.twig' with {
                                    paginateData: pagination,
                                    routeName: 'category_view',
                                    categoryId: category.id,
                                    perPage: perPage
                                } %}
                            </div>
                            <div>
                                {% include '_partials/catalog/category/pageLengthSelector.html.twig' with {
                                    currentPage: pagination.current,
                                    routeName: 'category_view',
                                    categoryId: category.id,
                                    perPage: perPage
                                } %}
                            </div>
                        </div>
                    {% else %}
                        <div class="content">
                            <p>Geen categorieën/producten gevonden in deze categorie.</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

