{% extends 'layout/base.html.twig' %}

{% block bodyClass %}folder-index{% endblock %}

{% block body %}
    <div class="template-sidebar container">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <aside class="meta-side">
                    {% if static_block_manager.has('side_contact') %}
                        {{ static_block_manager.get('side_contact').content|raw }}
                    {% endif %}
                </aside>
            </div>
            <div class="col-sm-8 col-md-9">
                <h1 class="page-title">Folder</h1>
                <div class="content">
                    <p>Hier vindt u de op dit moment lopende folders.</p>
                </div>
                <div class="folder">
                    {% if folders %}
                        <ul class="row">
                            {% for folder in folders %}
                                <li class="col-md-6">
                                    <div class="folder-item">
                                        <h2>
                                            <a href="{{ path('folder_view', {'id': folder.id } ) }}" title="{{ folder.title }}">
                                                {{ folder.title }} {{ folder.id }}
                                            </a>
                                        </h2>
                                        <div>
                                            <div>
                                                <div class="img">
                                                    <a href="{{ path('folder_view', {'id': folder.id } ) }}" title="{{ folder.title }}">
                                                        <img src="{{ folder.picture }}" alt="{{ folder.title }}"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="entry">
                                                    <div class="content">
                                                        <p>{{ folder.shortDescription }}</p>
                                                    </div>
                                                    <a href="{{ path('folder_view', {'id': folder.id } ) }}">
                                                        Lees verder
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            {% if folders|length %2 != 0 %}
                                <li class="col-md-6"></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
