{% extends 'emails/base.html.twig' %}

{% block body %}
    <p>Beste {{ webOrder.cart.customer.name }},</p>

    <p>
        U heeft zojuist een bestelling geplaatst op
        <a href="{{ app.request.getSchemeAndHttpHost() }}">{{ app.request.getSchemeAndHttpHost() }}</a>,
        hieronder tref je de details van de bestelling aan.
    </p>

    <p><strong>Bestelling: WO-{{ webOrder.id }}</strong></p>

    <table class="decorated-table">
        <tbody>
        <tr>
            <td class="label" valign="top">Naam:</td>
            <td class="value">
                {{ webOrder.cart.customer.name }}
                {% if webOrder.cart.customer.company %}
                    {{ webOrder.cart.customer.company }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td class="label">Ordernummer:</td>
            <td class="value">WO-{{ webOrder.id }}</td>
        </tr>
        <tr>
            <td class="label">Besteldatum:</td>
            <td class="value">{{ webOrder.cart.finishedDate|date("d-m-Y") }}</td>
        </tr>
        <tr>
            <td class="label">Gewenste leverdatum:</td>
            <td class="value">{{ webOrder.cart.deliveryDate|date("d-m-Y") }}</td>
        </tr>
        <tr>
            <td class="label">Klantnummer:</td>
            <td class="value">{{ webOrder.cart.customer.customerGroup.navisionId }}</td>
        </tr>
        <tr>
            <td class="label">Totaalbedrag:</td>
            <td class="value">&euro; {{ webOrder.cart.totalExTax|to_money }}</td>
        </tr>
        <tr>
            <td class="label">Referentie:</td>
            <td class="value">{{ webOrder.cart.reference }}</td>
        </tr>
        <tr>
            <td class="label">Opmerkingen:</td>
            <td class="value">{{ webOrder.cart.note }}</td>
        </tr>
        </tbody>
    </table>
    <p><strong>Artikelen</strong></p>
    <table class="decorated-table">
        <tbody>
        {% for cartProduct in webOrder.cart.cartProducts %}
            {% set product = cartProduct.product %}
            {% set unitOfMeasure = cartProduct.unitOfMeasure %}
            {# $actionProductPrice = $product->getActionProductPrice($this->cart->getCustomer(), $unitOfMeasure->unit_of_measure_id, 1); #}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td class="product-name">{{ product.name }}</td>
                <td class="product-manufacturer">
                    {% if webOrder.cart.customer.company %}
                        {{ product.manufacturer.name }}
                    {% endif %}
                </td>
                <td class="product-volume">{{ product.volume }}</td>
                <td class="product-qty">{{ cartProduct.qty }} | {{ unitOfMeasure.name }}</td>
                {% if webOrder.cart.customer.canSeePrices or isCopy %}
                    <td class="product-euro">&euro;</td>
                    <td class="product-total">{{ cartProduct.rowTotal|to_money }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if webOrder.cart.customer.canSeePrices or isCopy %}
            <tr>
                <td style="text-align: right;" colspan="4"><strong>Totaalbedrag (excl. btw)</strong></td>
                <td class="product-euro"><strong>&euro;</strong></td>
                <td class="product-total"><strong>{{ webOrder.cart.totalExTax|to_money }}</strong></td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
