{% extends 'layout/base.html.twig' %}

{% block bodyClass %}catalog-product-view{% endblock %}

{% block body %}
    <div class="container">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        {% if product %}
            <div class="page-title-container">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" onclick="window.history.back();" class="btn-border">
                            <i class="fas fa-arrow-left"></i>
                            <span>Terug</span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h1 class="page-title">{{ product.name }}</h1>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="page-title-container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <h1 class="page-title">Product niet gevonden</h1>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="layout-flip-sidebar-md">
            <div class="main-row row">
                <div class="col-md-3">
                    {% if parentCategories %}
                        {% include '_partials/catalog/category/list.html.twig' with {'categories' : parentCategories } %}
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="product-detail product-detail-rwd">
                        <div>
                            <div class="product-detail-img">
                                <img src="https://www.hgt-tilburg.nl/cache/images/userdata/product-images/220x220/310210.jpg"/>
                            </div>
                        </div>
                        <div>
                            <ul class="product-detail-spec">
                                <li>
                                    <div class="product-detail-main">
                                        {% if product.manufacturer %}
                                            <div><a href="#">{{ product.manufacturer.name }}</a></div>
                                        {% endif %}
                                        <div class="volume">Inhoud: {{ product.volume }}</div>
                                    </div>
                                </li>
                                <li>
                                    {{ form_start(form, {'attr': {'id': 'add_to_cart_form', 'class': 'product-detail-form'}}) }}
                                    <div class="product-select-price is-section-md">
                                        <div>
                                            {{ form_widget(form.product_unit_of_measure) }}
                                        </div>
                                        <div>
                                            {% for productPrice in productPrices %}
                                                <div class="product-detail-price price_item"
                                                     id="price_{{ productPrice.productUnitOfMeasureId }}">
                                                    {{ productPrice.productPrice|price }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="product-order-unit is-section-md">
                                        <div>{{ form_widget(form.qty) }}</div>
                                        <div>
                                            <a href="#" class="btn" onclick="addToCart();return false;">Bestel</a>
                                            <button class="btn hidden" type="submit">Bestel</button>
                                        </div>
                                    </div>
                                    <div>
                                        <a href="#" onclick="addToOrderList();return false;"
                                           class="btn-list btn-list-icon">Toevoegen aan bestellijst <span
                                                    class="icon"><i class="fa fa-chevron-right"></i></span></a>
                                    </div>
                                    {{ form_end(form) }}
                                    <form class="product-detail-form hidden">
                                        <div class="product-select-price is-section-md">
                                            <div>
                                                <select class="form-control-select">
                                                    <option>test</option>
                                                    <option>test</option>
                                                </select>
                                            </div>
                                            <div>
                                                <div class="product-detail-price">&euro; 2,95</div>
                                            </div>
                                        </div>
                                        <div class="product-order-unit">
                                            <div><input class="form-control" type="text"/></div>
                                            <div>
                                                <button class="btn" type="submit">Bestel</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <div class="product-detail-spec-desc content">
                                        <p>{{ product.description }}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="text/javascript">
        function addToOrderList() {
            alert('Actie');
        }

        function addToCart() {
            $('#{{ form.vars.id }}_form_action').val('add');
            $('#{{ form.vars.id }}').submit();
        }

        $("#{{ form.vars.id }}_product_unit_of_measure").change(function () {
            $(".price_item").hide();
            $("#price_" + $(this).find('option:selected').data('unit-of-measure-id')).show();
        });

        $("#{{ form.vars.id }}_product_unit_of_measure").trigger("change");
    </script>
{% endblock %}
