{% extends 'layout/base.html.twig' %}

{% block bodyClass %}contact-index{% endblock %}

{% block body %}
    <div class="container layout-2-cols-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-6">
                <h1 class="page-title">Contact informatie</h1>
                <aside class="meta-side">
                    <ul>
                        <li>
                            <div class="entries">
                                <div class="entry">
                                    <strong class="special">Bezoekadres:</strong>
                                    {{ config_manager.get('company_street', '') }},
                                    {{ config_manager.get('company_zipcode', '') }}
                                    {{ config_manager.get('company_city', '') }} |
                                    {{ config_manager.get('company_number', '') }}<br/>
                                    <strong class="special">KvK-nummer:</strong>
                                    {{ config_manager.get('company_coc_number', '') }} |
                                    <strong class="special">Btw-nummer:</strong>
                                    {{ config_manager.get('company_vatnumber', '') }}
                                </div>
                                <div class="entry">
                                    <strong>T:</strong> <a href="{{ config_manager.get('company_phonenumber', '')|phone_href }}">{{ config_manager.get('company_phonenumber', '') }}</a><br/>
                                    <strong>E:</strong> <a rel="mail" href="mailto:{{ config_manager.get('company_email', '') }}">{{ config_manager.get('company_email', '') }}</a><br/>
                                    <strong>Whatsapp:</strong> <a href="{{ config_manager.get('company_whatsapp', '')|whatsapp_href }}">{{ config_manager.get('company_whatsapp', '') }}</a><br/>
                                </div>
                                <h3>Openingstijden</h3>
                                <div class="entry">
                                    Werkdagen 8.00 tot 17.00 uur <br/>
                                    Zaterdag van 09.00 tot 12.00 uur (alleen afhaal)
                                </div>
                            </div>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="col-sm-6">
                <div class="content"><h2>Contact formulier</h2></div>
                {{ form_start(form, {'attr': {'class': 'form-base','novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.phone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.message) }}
                <div class="form-btn-group">
                    <button type="submit" class="btn btn-highlight">Verstuur</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
